@import "../../scss/mixin";

.productsearch {
  .productsearch__input {
    margin-top: 10px;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      height: 30px;
      background: white;
      border: 1px solid #e76712;
      border-radius: 3px 0 0 3px;
      outline: none;

      padding: 0 5px;
      letter-spacing: 0.3px;
    }

    .productsearch__icon {
      width: 50px;
      height: 30px;
      background: #e76712;
      color: #fff;
      border-radius: 0 3px 3px 0;
      cursor: pointer;
    }
  }
  .productsearch__content {
    @include flexbox(center);
    flex-wrap: wrap;
    gap: 15px;
  }

  .productsearch__button {
    width: 100%;
    height: 30px;
    border: 1px solid #e76712;
    background: none;
    color: black;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 20px;
  }
}
