@import "../../../scss/mixin";

.header {
  height: 90px;
  background: #e76712;

  .header__nav {
    height: 40px;
    position: relative;
    @include flexbox(space-between, center);

    ul {
      @include flexbox(space-between, center);
      gap: 20px;

      li {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        font-family: "inter";
        opacity: 0.7;
        cursor: pointer;
      }
    }

    .header__icons {
      @include flexbox(center);
      gap: 10px;

      .header__add {
        color: #fff;
        font-size: 16px;
        cursor: pointer;
      }

      .header__world {
        color: #fff;
        font-size: 18px;
        cursor: pointer;
      }

      .header__trans {
        position: absolute;
        top: 0;
        right: 5%;
        z-index: 99;
      }

      .header__icons.active {
        transform: translateX(100%);
      }
    }
  }

  .header__content {
    @include flexbox(space-between, center);

    h1 {
      color: #fff;
      font-size: 40px;
      font-weight: 600;
      font-family: "Langar";
      cursor: pointer;
    }

    ul {
      @include flexbox(space-between, center);
      gap: 50px;

      li {
        font-size: 16px;
        font-weight: 500;
        font-family: "inter";
        cursor: pointer;
      }
    }

    .header__btns {
      @include flexbox(space-between, center);
      gap: 10px;

      .header__btns-icon {
        color: #fff;
        font-size: 30px;
        cursor: pointer;
      }

      .header__btns-plus {
        color: #fff;
        font-size: 26px;
        cursor: pointer;
      }

      .header__btns-menu {
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        display: none;
      }

      button {
        height: 32px;
        padding: 0 10px;
        background: none;
        border-radius: 20px;
        color: white;
        font-size: 18px;
        font-weight: 500;
        font-family: "inter";
        border: 1px solid #fff;
        text-align: center;
        cursor: pointer;
      }

      .header__menu {
        position: fixed;
        top: 0;
        left: -180px;
        z-index: 99;
        transition: transform 0.5s linear;

        ul {
          display: block;
        }
      }
      .header__menu.active {
        transform: translateX(100%);
      }
    }
  }
}
