@media (max-width: 837px) {
  .about {
    .about__content {
      gap: 20px;
      img {
        width: 370px;
        height: 100%;
      }
    }
  }
}

@media (max-width: 761px) {
  .about {
    .about__content {
      align-items: center;
      img {
        width: 240px;
      }
    }
  }
}

@media (max-width: 605px) {
  .about {
    .about__content {
      flex-direction: column;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 400px) {
  .about {
    h1 {
      height: 30px;
      font-size: 25px;
    }

    p {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
