@media (max-width: 768px) {
  .styles {
    .styles__content {
      height: 120px;
    }
  }
}

@media (max-width: 720px) {
  .styles {
    .styles__content {
      height: 100px;
    }
  }
}

@media (max-width: 440px) {
  .styles {
    margin: 8px 0;
    .styles__content {
      height: 70px;
    }
  }
}

@media (max-width: 330px) {
  .styles {
    margin: 5px 0;
    .styles__content {
      height: 50px;
    }
  }
}
