@media (max-width: 804px) {
  .header {
    .header__content {
      ul {
        display: none;
      }

      .header__btns {
        .header__btns-icon {
          font-size: 27px;
        }

        .header__btns-menu {
          display: block;
          font-size: 27px;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .header {
    height: 60px;
    .header__nav {
      display: none;
    }

    .header__content {
      height: 60px;
      align-items: center;

      ul {
        display: none;
      }

      .header__btns {
        .header__btns-icon {
          display: none;
        }
        
        .header__btns-plus{
          display: none;
        }

        button{
          font-size: 12px;
        }
      }
    }
  }
}
