@media (max-width: 1024px) {
  .login {
    width: 400px;

    .login__content {
      h2 {
        font-size: 22px;
      }

      h4 {
        font-size: 12px;
      }

      .login__icons .login-google {
        width: 250px;
      }

      .login__inputs {
        width: 250px;
      }

      button {
        width: 250px;
      }
    }
  }
}

@media (max-width: 520px) {
  .login {
    width: 350px;

    .login__content {
      h2 {
        font-size: 20px;
      }

      h4 {
        font-size: 11px;
      }

      .login__icons .login-google {
        width: 220px;
      }

      .login__inputs {
        width: 220px;
      }

      button {
        width: 220px;
      }
    }
  }
}

@media (max-width: 440px) {
  .login {
    width: 300px;

    .login__content {
      h2 {
        font-size: 18px;
      }

      h4 {
        font-size: 10px;
      }

      .login__icons .login-google {
        width: 200px;
      }

      .login__inputs {
        width: 200px;
      }

      button {
        width: 200px;
      }
    }
  }
}

@media (max-width: 320px) {
  .login {
    width: 260px;

    .login__content {
      h2 {
        font-size: 16px;
      }

      h4 {
        font-size: 9px;
      }

      .login__icons .login-google {
        width: 180px;
      }

      .login__inputs {
        width: 180px;
      }

      button {
        width: 180px;
      }
    }
  }
}
