@media (max-width: 541px) {
  .profiletwo {
    .profiltwo__inputs {
      width: 420px;
    }
  }
}

@media (max-width: 471px) {
  .profiletwo {
    .profiltwo__inputs {
      width: 370px;
    }
  }
}

@media (max-width: 421px) {
  .profiletwo {
    .profiltwo__inputs {
      width: 340px;
    }
  }
}

@media (max-width: 375px) {
  .profiletwo {
    .profiltwo__inputs {
      width: 320px;
    }
  }
}

@media (max-width: 337px) {
  .profiletwo {
    .profiltwo__inputs {
      width: 100%;
    }
  }
}
